apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html
  namespace: default
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
        <title>ArgoCD Nginx Demo</title>
    </head>
    <body>
        <h1>Hello from Nginx deployed via ArgoCD using ConfigMap!</h1>
    </body>
    </html>
